<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.prg.role.mapper.SRoleMenuMapper" >
	<resultMap id="BaseResultMap" type="com.system.prg.role.entity.SRoleMenu" >
		<result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
		<result column="MENU_ID" property="menuId" jdbcType="DECIMAL" />
	</resultMap>
	<sql id="Example_Where_Clause" >
		<where>
			<if test="roleId != null and roleId !=''">
				  AND ROLE_ID = #{roleId}
			</if>
			<if test="menuId != null and menuId !=''">
				  AND MENU_ID = #{menuId}
			</if>
		</where>
	</sql>
	<insert id="insert"  parameterType="com.system.prg.role.entity.SRoleMenu" >
		insert into T_S_ROLE_MENU(ROLE_ID, MENU_ID) 
 		 values( #{roleId,jdbcType=DECIMAL}, #{menuId,jdbcType=DECIMAL}) 
 	</insert> 
	<delete id="deleteByCondition"  parameterType="java.util.Map" >
		 delete from  T_S_ROLE_MENU
		 <include refid="Example_Where_Clause" />
	</delete> 
	<update id="updateByCondition"  parameterType="com.system.prg.role.entity.SRoleMenu"  >
		 update T_S_ROLE_MENU
			<trim prefix="SET" suffixOverrides="," > 
				<if  test="roleId != null and roleId !=''">
					ROLE_ID = #{roleId} , 
				</if>
				<if  test="menuId != null and menuId !=''">
					MENU_ID = #{menuId} , 
				</if>
			</trim>
			 where 
	</update> 
	<select id="countByCondition"  parameterType="java.util.Map"  resultType="java.lang.Integer">
		 select  count(1)  from T_S_ROLE_MENU
		 <include refid="Example_Where_Clause" />
	</select> 
	<select id="selectByCondition"  parameterType="java.util.Map"  resultMap="BaseResultMap">
		 select ROLE_ID,   MENU_ID
		  from T_S_ROLE_MENU
		 <include refid="Example_Where_Clause" />
		 <if  test="orderByClause != null and orderByClause !=''">
			 order by ${orderByClause}
		 </if>
	</select> 
	<delete id="deleteByPrimaryKey"  >
		 delete from  T_S_ROLE_MENU
			  where 
	</delete> 
	<select id="findByPrimaryKey"  resultMap="BaseResultMap">
		 select ROLE_ID,   MENU_ID
		   from T_S_ROLE_MENU
			  where 
	</select> 
</mapper>