<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.prg.role.mapper.SUserRoleMapper" >
	<resultMap id="BaseResultMap" type="com.system.prg.role.entity.SUserRole" >
		<result column="USER_ID" property="userId" jdbcType="DECIMAL" />
		<result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
	</resultMap>
	<sql id="Example_Where_Clause" >
		<where>
			<if test="userId != null and userId !=''">
				  AND USER_ID = #{userId}
			</if>
			<if test="roleId != null and roleId !=''">
				  AND ROLE_ID = #{roleId}
			</if>
		</where>
	</sql>
	<insert id="insert"  parameterType="com.system.prg.role.entity.SUserRole" >
		insert into T_S_USER_ROLE(USER_ID, ROLE_ID) 
 		 values( #{userId,jdbcType=DECIMAL}, #{roleId,jdbcType=DECIMAL}) 
 	</insert> 
	<delete id="deleteByCondition"  parameterType="java.util.Map" >
		 delete from  T_S_USER_ROLE
		 <include refid="Example_Where_Clause" />
	</delete> 
	<update id="updateByCondition"  parameterType="com.system.prg.role.entity.SUserRole"  >
		 update T_S_USER_ROLE
			<trim prefix="SET" suffixOverrides="," > 
				<if  test="userId != null and userId !=''">
					USER_ID = #{userId} , 
				</if>
				<if  test="roleId != null and roleId !=''">
					ROLE_ID = #{roleId} , 
				</if>
			</trim>
			 where 
	</update> 
	<select id="countByCondition"  parameterType="java.util.Map"  resultType="java.lang.Integer">
		 select  count(1)  from T_S_USER_ROLE
		 <include refid="Example_Where_Clause" />
	</select> 
	<select id="selectByCondition"  parameterType="java.util.Map"  resultMap="BaseResultMap">
		 select USER_ID,   ROLE_ID
		  from T_S_USER_ROLE
		 <include refid="Example_Where_Clause" />
		 <if  test="orderByClause != null and orderByClause !=''">
			 order by ${orderByClause}
		 </if>
	</select> 
	<delete id="deleteByPrimaryKey"  >
		 delete from  T_S_USER_ROLE
			  where 
	</delete> 
	<select id="findByPrimaryKey"   resultMap="BaseResultMap">
		 select USER_ID,   ROLE_ID
		   from T_S_USER_ROLE
			  where 
	</select> 
</mapper>